<h1>Flights</h1>

<%= form_with url: flights_path, scope: :search, local: true, method: "get" do |f| %>
  <%= f.label :from_airport, "Departing From:" %>
  <%= f.select :from_airport, @airport_options, selected: @from_airport, include_blank: true %><br><br>

  <%= f.label :to_airport, "Arriving At:" %>
  <%= f.select :to_airport, @airport_options, selected: @to_airport, include_blank: true %><br><br>

  <%= f.label :passenger_number, "Number of Passengers" %>
  <%= f.select :passenger_number, [1,2,3,4], selected: @passenger_number %><br><br>

  <%= f.label :date, "Date:" %>
  <%= f.date_field :date, value: @date %><br><br>

  <%= f.submit "Search" %>
<% end %>

<br><br>

<% if @flights %>
  <h2>Choose your Flights</h2>
  <%= form_with url: new_booking_path, scope: :booking, method: "get", local: true do |f| %>
    <%= f.hidden_field :passengers, value: @passenger_number %>
    <table>
      <tr>
        <th></th>
        <th>Departing</th>
        <th>Arriving</th>
        <th>Date/Time</th>
        <th>Duration</th>
      </tr>
      <% @flights.each do |flight| %>
        <tr>
          <td><%= f.radio_button :flight, flight.id  %></td>
          <td><%= link_to flight.from_airport.location, flight_path(flight) %></td>
          <td><%= flight.to_airport.location %></td>
          <td><%= flight.datetime.to_formatted_s %></td>
          <td><%= flight.duration %></td>
        <tr>
      <% end %>
    </table><br>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>


